<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="登录界面">
  <title>登录页面</title>
  <link rel="stylesheet" href="css/jq22.css">
</head>
<body ng-app="nt" ng-controller="loginController">
  <div class="text-center">
    <!--    <h3>粘土爱好者网站</h3>-->
    <a href="index.html"><img src="images/img/logo.png" style="margin-top: 40px;"/></a>
  </div>

  <div id="login">
  <div class="wrapper">
    <div class="login" style="margin-top: 50px">
      <!-- form start -->
      <form id="loginForm" class="container offset1 loginform" action="/login" method="post">
        <div id="owl-login">
          <div class="hand"></div>
          <div class="hand hand-r"></div>
          <div class="arms">
            <div class="arm"></div>
            <div class="arm arm-r"></div>
          </div>
        </div>
        <div class="pad">
<!--          <input type="hidden" name="_csrf" value="9IAtUxV2CatyxHiK2LxzOsT6wtBE6h8BpzOmk=">-->
          <div class="control-group">
            <div class="controls">
              <label for="phone" class="control-label fa fa-phone"></label>
              <input ng-model="mobile" maxlength="11" id="phone" type="text" name="mobile" placeholder="手机号" tabindex="1"
                     autofocus="autofocus" class="form-control input-medium">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label for="password" class="control-label fa fa-asterisk"></label>
              <input ng-model="password" maxlength="16" id="password" type="password" name="password" placeholder="密码" tabindex="2"
                     class="form-control input-medium">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label for="securityCode" class="control-label fa fa-asterisk"></label>
              <input ng-model="securityCode" maxlength="4" style="width: 60%;display: inline" id="SecurityCode" type="text"
                     name="SecurityCode" placeholder="忽略大小写" tabindex="2" class="form-control input-medium">
              <img src={{imagePictureUrl}} ng-click="changePicture()"/>
            </div>
          </div>
        </div>
        <script>

        </script>
        <div class="form-actions" ng-init="getMessage()">
          <font style="color: #d43f3a" class="btn btn-link pull-left text-muted">{{msg}}</font>
          <a href="register.html" tabindex="6" class="btn btn-link text-muted">快速注册</a>
          <!--                    <a href="#" tabindex="5" class="btn btn-link text-muted">忘记密码?</a>-->
          <button type="button" tabindex="4" class="btn btn-primary" ng-click="login()">登录</button>
        </div>
      </form>
      <!-- form end -->
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="angularjs/angular.min.js"></script>
  <script src="js/base/base.js"></script>
  <script src="js/service/loginService.js"></script>
  <script src="js/controller/loginController.js"></script>
  <script>
      <!--猫头鹰蒙眼js-->
      $(function () {
          $('#login #password').focus(function () {
              $('#owl-login').addClass('password');
          }).blur(function () {
              $('#owl-login').removeClass('password');
          });
      });
  </script>
  </div>
</body>
</html>