<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>轮播图管理</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/slideshow.css" />
</head>
<body ng-app="nt" ng-controller="slideshowController" ng-init="getSlideshowInfo()">
<div class="wrapper">
  <div class="header">
    <span>粘土后台管理系统</span>
    <a href="/logout">退出</a>
  </div>
  <div class="main">
    <div class="main-left">
      <ol>
        <li class="user-management"><a href="index.html">用户管理</a></li>
        <li class="work-management"><a href="work.html">作品与资讯管理</a></li>
        <li class="slider-management"><a href="slideshow.html">轮播图管理</a></li>
      </ol>
    </div>
    <div class="main-right">
      <div class="option">
        <span>轮播图管理</span>
      </div>
      <div class="content">
        <div class="content-table">
          <div class="top">
<!--            <span>昵称:</span>-->
<!--            <input ng-model="keyword" type="text" class="form-control" name="keyword" />-->
<!--            <button class="btn btn-primary search" ng-click="reloadList()">查询</button>-->
<!--            <button class="btn btn-danger delete" ng-click="deleteUser()">删除</button>-->
          </div>

          <div class="data">
            <div class="data-title">
              <ul class="data-ul">
                <li class="id">ID</li>
                <li class="title">标题</li>
                <li class="picture">图片</li>
                <li class="brief">简介</li>
                <li class="web-link">链接地址</li>
                <li class="update"><span>操作</span></li>
              </ul>
            </div>

            <div class="slideshow-data" ng-repeat="entity in list">
              <ul class="data-ul">
                <li class="id">{{entity.id}}</li>
                <li class="title">{{entity.title}}</li>
                <li class="picture"><img src="{{entity.pictureUrl}}"/></li>
                <li class="brief"><span>{{entity.brief}}</span></li>
                <li class="web-link" title="{{entity.webLink}}">{{entity.webLink}}</li>
                <li class="update"><span><a data-toggle="modal" data-target="#myModal" class="btn btn-success" ng-click="findOne(entity.id)">修改</a></span></li>
              </ul>
            </div>
          </div>

          <div class="footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal 模态框详情展示-->
<div ng-model="myModal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          <h4 class="modal-title" id="myModalLabel">标题</h4>
        </div>
      </div>
      <div class="modal-body">
        <div style="height: 450px">
          <span>标题：</span>
          <input ng-model="entity.title" type="text" class="form-control" placeholder="标题">
          <span>简介：</span>
          <textarea ng-model="entity.brief" class="form-control" rows="3" placeholder="简介"></textarea>
          <span>链接地址：</span>
          <input ng-model="entity.webLink" type="text" class="form-control" placeholder="链接" >
          <span>图片：</span><br>
          <div>
            <img style="width: 300px;height: 200px" ng-src="{{entity.pictureUrl}}" />
          </div>
          <span class="change-pic" ng-click="upload(entity.id)">更换图片并保存</span>
          <input id="upload" type="file" style="display: none"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save(entity)">保存</button>
      </div>
    </div>
  </div>
</div>
<!--Modal 模态框详情展示 end-->

<script src="bootstrap/js/jquery-1.11.0.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<!--<script src="js/jquery.min.js"></script>-->
<script src="angularjs/angular.min.js"></script>
<script src="js/base/baseNoPagination.js"></script>
<script src="js/service/slideshowService.js"></script>
<script src="js/controller/slideshowController.js"></script>
</body>
</html>